body {
    position: relative;
    background: #112134;
}
.sidebar-container {
    background:  #070D15;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 10%;
    font-size: 12px;
}
.main-content {
    width: 80%;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    bottom:10% ;
<<<<<<< HEAD
    overflow: visible;
=======
    overflow-y: scroll;

>>>>>>> jsbranch
}
.main-content::-webkit-scrollbar-track {
    background: transparent; 
}

.main-content::-webkit-scrollbar-thumb {
    background:#5E5E5E; 
  }

.main-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.player-container {
    background:#2C2C2C;
    position: fixed;
    top: 90%;
    left: 0;
    right: 0;
    height:  10%;
}

.sidebar-container button {
    width: 170px;
    font-size: 1em;
    color: white;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.align-bottom {
    margin-top: 220px ;
}

.nav.flex-column .nav-link:hover {
    border-left: 5px solid green;
}
nav.nav {
    font-size: 10px;
    width: 80vh;
    margin: 0 auto;
}
.main-content .nav .nav-link {
    position: relative;
}

.main-content .nav .nav-link:hover::after {
    content: '';
    position: absolute;
    right: 28px;
    top: 25px;
    width: 30%;
    border: 1px solid green;
}

.custom-range::-webkit-slider-runnable-track {
    background: grey;
    height: 2px;
}

.custom-range::-webkit-slider-thumb {
    display: none;
  }
.player-controls {
   width: 92%;
}

.player-tasks {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 136px;
}

.player-container .material-icons {
    font-size: 16px;
}

#customRange-timer,#customRange-volume {
    height: 25px;
}

#customRange-volume {
    width: 62px;
}

#customRange-timer {
    position: relative;
    width: 419px;
}

#customRange-timer::after {
    content: '0.00';
    margin-left: 2px;
    font-size: 10px;
    padding-bottom: 6px;
}

#customRange-timer::before {
    content: '0.00';
    margin-right: 2px;
    font-size: 10px;
    padding-bottom: 6px;
}

h3 {
    font-size: 16px;
}

.cover-album{
    width: 200px;
    height: 130px;
}