body {
    position: relative;
    background: #112134;
}
.sidebar-container {
    background:  #070D15;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 20%;
    font-size: 12px;
}
.main-content {
    width: 80%;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    bottom:20% ;

}

.sidebar-container button {
    width: 200px;
    font-size: 1em;
    color: white;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.align-bottom {
    margin-top: 155px ;
}

.nav.flex-column .nav-link:hover {
    border-left: 5px solid green;
}